################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Hangfire.DMStorage/bin/Debug
/Hangfire.DMStorage/.vs
/Hangfire.DMStorage/obj
