################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs
/src/Hangfire.DMStorage/bin/Debug
/src/Hangfire.DMStorage/.vs
/src/Hangfire.DMStorage/obj
/Hangfire.DMStorage.Tests/obj
/Hangfire.DMStorage.Tests/bin
